.projectCard {
    width: 30%;
    max-width: 30%;
    height: max-content;
    margin: 0 3% 2em 0;
    padding: 1em;
    border: 3px solid #3d3d3d;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(220, 219, 219);
    background-color: #ece9e9;
}

.projectCard p {
    margin-top: 0.5em;
}

.title {
    background-color: #171717;
    color: #ffbb33;
    padding: 0.5em 1em;
    text-align: center;
    margin-bottom: 2em;
    text-transform: capitalize;
}

.budget {
    color: #fda900;
}

.projectCard span,
.actions button {
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 1em;
    margin-top: 2em;
    flex-wrap: wrap;
}

.actions button {
    border-radius: 4px;
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    gap: 0.2em;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.actions button:hover {
    transform: scale(1.08);
}

.actions button img {
    height: 1em;
    display: block;
}

.edit {
    background-color: #dcae6c;
}

.edit a {
    display: flex;
    align-items: center;
    gap: 0.2em;
    color: unset;
    text-decoration: none;
}

.remove {
    background-color: #f18e8e;
}

.projectCard .category {
    display: flex;
    align-items: center;
}

.projectCard .category .categoryMark {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    margin-right: 0.5em;
}

.projectCard .category .design {
    background-color: #363ac7;
}

.projectCard .category .desenvolvimento {
    background-color: #4fd55a;
}

.projectCard .category .infra {
    background-color: #d65d2e;
}

.projectCard .category .planejamento {
    background-color: #6cc4df;
}

p.description {
    width: 100%;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    text-wrap: wrap;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
}