.new_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    gap: 1em;
}

.description {
    color: rgb(90, 89, 89);
}

@media (min-width: 1800px) {
    .new_project {
        font-size: 1.3em;
    }
}