.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 53dvh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}