.message {
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6em 1em;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.success {
    border: 3px solid #436329;
    background-color: #5d8e35;
    color: rgb(3, 32, 0);
}

.error {
    border: 3px solid #6e2b2b;
    background-color: #8d2c2c;
    color: #280101;
}

.message img {
    height: 2em;
    margin-right: 0.5em;
}